---
# Only the main Sass file needs front matter (the dashes are enough)
---

$getting-started: lighten(#F7586A, 20%);
$using: lighten(#EE6579, 20%);
/*$examples: lighten(#E86F95, 20%);*/

$community: lighten(#F55D61, 20%);
$ongoing: lighten(#FB828E, 20%);
$contributors: lighten(#957BDE, 20%);



@import "style.scss",
        "cards.scss",
        "responsive.scss";
