---
layout: default
---
<form id="checklist-form" method="POST">
	<div class="row clearfix">
		<!-- <div id="Research" class="title"><span>Research</span></div> -->
		{% for post in site.posts %}
		<div class="cards">
			<!-- <div class="img">
				<img class="left" src="img/icons128/Deep-Crawl.png">
			</div> -->
			<div class="card-content left">
				<label for="checkbox1">{{ post.title }}</label>
				<p>{{ post.content }}
				{% if post.read_more %}
					<a class="more hide-for-print" href="{{ post.read_more }}" target="_blank" title="{{ post.read_more_title }}">Read more</a></p>
				{% endif %}
				{% if post.example %}
					<a class="more hide-for-print" href="{{ post.example }}" target="_blank" title="{{ post.example_title }}">Example at {{ post.example_title }}</a></p>
				{% endif %}

			</div>
			<div class="right">
				<input id="checkbox{{forloop.index}}" type="checkbox">
			</div>
		</div>
		{% endfor %}
	</div>
</form>
