<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ site.title }}</title>
  <link rel="shortcut icon" href="favicon.ico?v=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <meta property="og:title"           content="{{ site.title }}" />
  <meta property="og:ulr"             content="{{ site.url }}" />
  <meta property="og:image"           content="{{ site.url }}/apple-touch-icon.png" />
  <meta property="og:description"     content="{{ site.description }}" />

  <!-- <meta name="google-site-verification" content="3Dof5ybDW6vSpHqG5nnJubTZeQ9mYWihL5mPP02FxtA" /> -->

  <link rel="stylesheet" href="css/jquery-labelauty.css" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Magnific Popup core CSS file -->

  <link rel="stylesheet" href="http://opensourcedesign.net/css/main.css">
  <link rel="stylesheet" href="css/magnific-popup.css">

  <link rel="stylesheet" href="css/style.css" />

  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <!-- <script src="js/vendor/modernizr.js"></script> -->

  <!-- GA plugin -->
<!--   <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    if(document.location.hostname == "uxchecklist.github.io") {
      ga('create', 'UA-57141076-1', 'auto');
      ga('send', 'pageview');
    }
  </script> -->
</head>
