<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ site.title }}</title>
  <link rel="shortcut icon" href="favicon.ico?v=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <meta property="og:title"           content="{{ site.title }}" />
  <meta property="og:ulr"             content="{{ site.url }}" />
  <meta property="og:image"           content="{{ site.url }}/apple-touch-icon.png" />
  <meta property="og:description"     content="{{ site.description }}" />

  <!-- <meta name="google-site-verification" content="3Dof5ybDW6vSpHqG5nnJubTZeQ9mYWihL5mPP02FxtA" /> -->

  <link rel="stylesheet" href="css/jquery-labelauty.css" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Magnific Popup core CSS file -->

  <link rel="stylesheet" href="http://opensourcedesign.net/css/main.css">
  <link rel="stylesheet" href="css/magnific-popup.css">

  <link rel="stylesheet" href="css/main.css" />

  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
