/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
 	font-weight: 300;
 	line-height: normal;
}

/* clearfix */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}
/* end clearfix */

*, *:after, *:before {
	box-sizing: border-box;
}

.left {
	float: left;
}
.right {
	float: right;
}

.rotate {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

a {
	color: #00F;
	text-decoration: none;
	white-space: nowrap;

	i {
		color: #DEDEDE;
	}
}

.no-touch a:hover {

	 i {
		color: #CECECE;
	}
}

p {
	margin-bottom: 10px;
	font-size: 0.9em;
}

.white-popup {
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
}

button,
.button {
	border-radius: 5px;
	background-color: #369;
	color: #FFF;
	font-size: 0.9em;
	padding: 5px 10px;
	margin-left: 5px;
	cursor: pointer;
	border: none;
}
.no-touch button:hover,
.no-touch .button:hover {
	background-color: #47B;
	text-decoration: none;
	border-bottom: none;
}
button i,
.button i {
	margin-right: 10px;
	color: #FFF;
}
.no-touch a:hover i {
	color: #FFF;
}

#reset {
	background-color: transparent;
	border: 1px solid #DF5941;
	color: #DF5941;
	i {
		color: inherit;
	}
}
.no-touch {

	#reset:hover, #signin {
		background-color: #DF5941;
		color: #FFF;
	}
	#signin:hover {
		background-color: #CF4931;
	}
}

.page-content .wrapper {
	max-width: inherit;
}

#github {
	background-color: #999;
	color: #FFF;
}

#header {
    padding: 0.8rem;
    text-align: center;

    h1 {
		display: inline-block;
		padding: 5px;
	}
}
small {
	font-size: 0.7em;
}

#sharebox ul li {
	display: inline-block;
	vertical-align: top
}

#title, #gdrivebox {
	margin-bottom: 10px;
}

#footer {
    padding: 1.25rem;
    text-align: center;
}
#mc_embed_signup,
#credits,
#toolbar {
    margin-bottom: 20px;
}
#inspiredby {
    margin-top: 20px;
    font-size: 0.8em;
}
#footer .typeform-share {
	display: inline-block;
	border-radius: 5px;
	background-color: #369;
	color: #FFF;
	font-size: 0.9em;
	line-height: normal;
	padding: 5px 10px;
	margin-left: 10px;
	text-decoration: none !important;
	border-bottom: none;
}
.no-touch #footer .typeform-share:hover {
	background-color: #47B;
}

.title {
	color: #FFF;
    background: #369;
    padding: 0.8rem 1.25rem;
}

.row {
	flex-wrap: wrap;
}
